<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
</head>
<body>
	<div class="container signIn-container">
		<form action="/user/sign_in" method="post">
			<div class="form-group">
				<label>用户名</label>
				<input type="text" name="login_name" id="" placeholder="请输入用户名">
			</div>
			<div class="form-group">
				<label>密码</label>
				<input type="password" name="password" id="" placeholder="请输入密码">
			</div>
			<div class="form-group form-button">
				<input type="submit" value="登录" class="button button-def">
			</div>
		</form>
	</div>
	<% include ../commons/footer.ejs %>
</body>
</html>